{% extends 'base.html'%}
{% import 'macro.html' as macro %}

{% block content%}
<style>
  img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
</style>
<br>
<img src="https://i.imgur.com/yxtYQNPb.jpg" alt="Pitch">
<div class="container" style= "font-family: 'Cormorant Upright', serif;">
  <div class="row">
      <div class="col-md-4">
          <div class="well well-lg">
              <h3>Interview Pitches</h3>
              <p>Having an outline pitch ready is a great confidence-booster for graduate interviews</p>
              <a href="{{url_for('main.new_pitch')}}" class="btn btn-primary -center">View</a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="well well-lg">
              <h3>Product Pitches</h3>
              <p>Talk about your products in a courageous way go no further.</p>
              <a href="{{url_for('main.new_pitch')}}" class="btn btn-primary -center">View</a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="well well-lg">
              <h3>Promotion Pitches</h3>
              <p>To Promote a pitch welcome right here to get more knolwedge about this.</p>
              <a href="{{url_for('main.new_pitch')}}" class="btn btn-primary -center">View</a>
          </div>
      </div>
  </div>
</div>
{% endblock %}

