<style>
  .navbar{
      background: black;
  }

  h1{
      font-size:60px; 
      color:green ;
  }

</style>

<h1 style="text-align:center" style="font-size:30px"> <strong>PITCH-TECH APP</strong></h1>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="btn btn-success" href="/">Pitches</a>
  <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">Create pitch</a>
  
  <ul class="navbar-nav my-2 my-lg-0">
        <a class="nav-link login-text text-white" href="/login">Login</a>
        <a class="nav-link login-text text-white" href="/logout">Logout</a>
</ul>
</nav>